@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --navbar-height: 60px;
    --footer-height: 40px;
    --transition-speed: 0.3s;
}

/* Global Box Sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Optional: Reset margins and paddings */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
    padding: 0;
}

/* Optional: Set base font size and family */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #eef2f3;
}